body{
    background: green;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    perspective: 1000px;
}

.container:hover .carta{
    transform: rotateY(180deg);
}

.carta{
    width: 200px;
    height: 300px;
    background: white;
    border-radius: 10px;

    position: relative;
    transform-style: preserve-3d;
    transition: 1s;
}

.frente, .verso{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    backface-visibility: hidden;
}

.frente{
    background: white;
    border: 2px solid black;
}

.topo{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 25px;
    color: red;
}

.centro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: red;
}

.baixo{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 25px;
    color: red;
    transform: rotate(180deg);
}

.verso{
    background-image:url("./img/versodecarta.jpg");
    background-size:cover;
    background-position:center;
    transform:rotateY(180deg);
}