body{
    background: green;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    perspective: 1000px;
}

.container:hover .carta{
    transform: rotateY(180deg); /*Gira a carta em 180 graus no eixo Y quando o mouse estiver sobre o container*/
}

.carta{
    width: 200px;
    height: 300px;
    background: white;
    border-radius: 10px;

    position: relative;
    transform-style: preserve-3d;
    transition: 1s;
}

.frente, .verso{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    backface-visibility: hidden;
}

.frente{
    background-image:url("./img/versodecarta.jpg");
    background-size:cover;
    background-position:center;
}

.verso{
    background-image:url("./img/rei.png");
    background-size:cover;
    background-position:center;
    transform:rotateY(180deg);
}