/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4efe9;
    color: #3e2c23;
    line-height: 1.6;
}

/* Header */
header {
    font-size: 20px;
    background-color: #6f4e37;
    color: white;
    padding: 30px 20px;
    text-align: center;
}

p {
    font-size: 25px;
    margin: 15px 0;
}

/* Navegação */
nav {
    background-color: #5a3e2b;
    padding: 15px;
    text-align: center;
}

nav a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #ffd7a0;
}

/* Container principal */
.container {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
}

/* Seção Sobre */
.about {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

/* Posts */
.post {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 25px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.post:hover {
    transform: translateY(-5px);
}

.post small {
    display: block;
    margin-bottom: 15px;
    color: gray;
}

button:hover {
    background-color: #5a3e2b;
}

/* Rodapé */
footer {
    background-color: #6f4e37;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

/* Responsividade */
@media (max-width: 768px) {
    nav a {
        display: block;
        margin: 10px 0;
    }
}
